.ul {
    display: flex;
    margin: 10px 0;
    width: var(--width-bar-hover);
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.li {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: left;
    transition: 0.15s;
    cursor: pointer;
    color: white;
    background: no-repeat linear-gradient(to right, var(--yellow-transparent), transparent);
    background-size: 0% 100%;
}

.li a {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: left;
    position: relative;
    text-decoration: none;
    padding: 15px 0 15px 0px;
    white-space: nowrap;
    color: white;
}

.icon {
    scale: 1.15;
    margin: 0 15px 0 15px;
}

.li:hover {
    background-size: 100% 100%;
    color: var(--yellow);
    transition: 0.5s;
}

.li:hover a{
    color: var(--yellow);
}
