
.nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--width-bar);
    height: 100%;
    background-image: linear-gradient(to right, var(--purple-dark), var(--purple2));
    margin: 0;
    padding: 0;
    transition: 0.35s;
    overflow: hidden;
    border-bottom-right-radius: calc(var(--width-bar));
}

.nav:hover {
    width: var(--width-bar-hover);
    border-bottom-right-radius: calc(var(--width-bar) / 2);
}

.dimScreen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.25s;
}

.nav:hover + .dimScreen {
    background-color: rgba(0, 0, 0, 0.5);
}